<!DOCTYPE html>
<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Livros</title>
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <main id="container-listar-livros">
    
        <h1 id="title-listar-livros">Listar Livros</h1>
        <div class="navbar">
            <a href="bookfy">Home</a>
            <a href="adicionar-livro">Adicionar Livros</a>
        </div>
        
        <div class="container-listar-livros">
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Capa</th>
                        <th>PlayList</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="livro : ${livros}">
                        <td th:text="${livro.titulo}"></td>
                        <td th:text="${livro.autor}"></td>
                        <td>
                            <img th:src="${livro.capa}" class="capa-livro">
                        </td>
                        <td>
                            <a th:href="${livro.playlist}" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/livros/deletar/' + ${livro.id}}">Deletar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
